---
export interface Props {
  title: string
}

const { title } = Astro.props
const response = await fetch('https://randomuser.me/api/')
const data = await response.json()
const name = data.results[0].name.first
const imagen = data.results[0].picture.large
---

<h1>
  {title}
  {name}
</h1>
<img
  src={imagen}
  alt={name}
/>
<style>
  h1 {
    font-size: 3rem;
    color: dodgerblue;
  }
</style>
